<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	{% load static %}
    <link href="{% static 'css/stud_chat.css' %}" rel="stylesheet"/>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body id="mainbody" onload="Previous_messages();" translate="no">

	<div class = "container">
		<div class="row " style = "height:5%;margin-left:0;margin-right:0;">
			<div class="col-md-12 text-muted" style="padding-top:10px; width:50%">
				<p class="text-center" style="color: #ff5f5f;"> Your messages will be sent to the volunteer. They will reply you soon. </p>
			</div>
		</div>
		<div id = "chat-window" style = "border: 1px solid black;">
			<div class="row chat-title" style = "height:10%;margin-left:0;margin-right:0;">
				<div class="col-md-4" style="border: 2px solid white; border-radius: 20%;">
						<h2>Volunteer: </h2><br>
						<h2>{{ volunteer_name }}</h2>
				</div>
				<div class="col-md-8 text-center" id="accept_alert">
					<h2 id="alert_msg">Volunteer has confirmed to teach you, accept if you agree.</h2>
					<input type="button" value="Accept" id="confirm" onclick="Confirm_Stud_Vol();" >
				</div>

			</div>
			<div class="row" style ="display:table;width:100%;margin-left:0;margin-right:0;">
				<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

				<script>
				function Confirm_Stud_Vol(){
		console.log("here");
		document.getElementById("alert_msg").innerHTML = "Sending your confirmation to the volunteer";
		document.getElementById("confirm").disabled = true;
			$.ajax(
			{
				type:"GET",
				url: "/accept_stud_vol/",
				data:{
						 volunteer_email: "{{volunteer_email}}",
						 volunteer_sub: "{{volunteer_sub}}",
						 volunteer_day : "{{volunteer_day}}",
						 volunteer_from: "{{volunteer_from}}",
						 volunteer_to: "{{volunteer_to}}"
				},
				success: function( data )
				{
					alert("You have accepted to learn from {{ volunteer_email }}");
					document.getElementById("alert_msg").innerHTML = "You are connected with volunteer!";
					document.getElementById("confirm").disabled = true;
				}
			 });
		 };
				
				 var firebaseConfig = {
				  apiKey: "AIzaSyCCYMDQ43IdFjxzkIdFPlwwyiSRiw0abSU",
				  authDomain: "ctrldebthack.firebaseapp.com",
				  databaseURL: "https://ctrldebthack-default-rtdb.firebaseio.com",
				  projectId: "ctrldebthack",
				  storageBucket: "ctrldebthack.appspot.com",
				  messagingSenderId: "231552560212",
				  appId: "1:231552560212:web:aacb5f70bc1ecb342951c1"
				};
					 firebase.initializeApp(firebaseConfig);
					 
					var confirmation = firebase.database().ref("Connected_stud_vol").child("{{student_email}}-{{volunteer_email}}-{{volunteer_sub}}-{{volunteer_day}}-{{volunteer_from}}-{{volunteer_to}}/");
					confirmation.on('child_added', function (data) {
						document.getElementById("accept_alert").style.display = "block";
					});

					var msg_added = firebase.database().ref('Chat/{{ student_email }}-{{ volunteer_email }}/');
					msg_added.limitToLast(1).on('child_added', function (data) {

						var ref_chat_id = firebase.database().ref('Latest_Chat_Id/{{ student_email }}-{{ volunteer_email }}/');
						ref_chat_id.once('value', function(snapshot1) {

						var idd = snapshot1.val().id;
						var ref_msg = firebase.database().ref('Chat/{{ student_email }}-{{ volunteer_email }}/'+idd+'/');

						ref_msg.once('value',function(snapshot2){
						var chatbox = document.getElementById("chatbox");
						var row = chatbox.insertRow(-1);
						row.innerHTML = Object.keys(snapshot2.val())[0] +":"+ snapshot2.val()[Object.keys(snapshot2.val())[0]];
						});

					 })
					 });

					 function Previous_messages(){
					 
					 var ref_confirm_stud_vol = firebase.database().ref("Connected_stud_vol").child("{{student_email}}-{{volunteer_email}}-{{volunteer_sub}}-{{volunteer_day}}-{{volunteer_from}}-{{volunteer_to}}/");
					 ref_confirm_stud_vol.once("value", function(snapshot){
						if (snapshot.exists()){
								if (snapshot.val().status == "confirmed") {
								document.getElementById("accept_alert").style.display = "block";
							}
							else {
								document.getElementById("alert_msg").innerHTML = "You are connected with volunteer";
								document.getElementById("confirm").disabled = true;
							}
						}}
						);



					 try {
					 var chatbox = document.getElementById("chatbox");
					 chatbox.innerHTML = "";
					 var ref_chat_id = firebase.database().ref('Latest_Chat_Id/{{ student_email }}-{{ volunteer_email }}/');
						ref_chat_id.once('value', function(snapshot1) {
						var idd = snapshot1.val().id;
						idd = parseInt(idd)-1;
						while (idd > 0){


						console.log(idd);
						var ref_msg = firebase.database().ref('Chat/{{ student_email }}-{{ volunteer_email }}/'+idd.toString()+'/');
						ref_msg.once('value',function(snapshot2){
						var chatbox = document.getElementById("chatbox");
						var row = chatbox.insertRow(0);
						row.innerHTML = Object.keys(snapshot2.val())[0] +":"+ snapshot2.val()[Object.keys(snapshot2.val())[0]];
						});
						idd = idd - 1;
						}

					 });
					 }
					 catch (err){
					 console.log(err);
					 }
					}

					 function Send_Message(){
					 var ref_chat_id = firebase.database().ref('Latest_Chat_Id/{{ student_email }}-{{ volunteer_email }}/');
					 ref_chat_id.once('value', function(snapshot) {
					  if (snapshot.exists()) {
						var idd = snapshot.val().id;
						idd = (parseInt(idd)+1).toString();
						ref_chat_id.set({'id': idd});
						var ref = firebase.database().ref('Chat/{{ student_email }}-{{ volunteer_email }}/');
						ref.child(idd).set({'{{ student_name }}':document.getElementById("stud_msg").value});
					  } else {
						ref_chat_id.set({'id':'1'});
						var ref = firebase.database().ref('Chat/{{ student_email }}-{{ volunteer_email }}/1/');
						ref.set({'{{ student_name }}': document.getElementById("stud_msg").value});
					  }
					  }
					  );
					  var rec_msg_ref = firebase.database().ref('Received_Messages/{{ volunteer_email }}/');
					 rec_msg_ref.set({'{{ student_email }}' : {
					 "msg":document.getElementById("stud_msg").value,
					 "subj": "{{volunteer_sub}}",
					 "day": "{{ volunteer_day}}",
					 "from": "{{ volunteer_from }}",
					 "to": "{{volunteer_to}}"
					 }
					 });




					 }

				</script>
				<table id="chatbox">
				</table>
			</div>
			<div class="row text-box" style = "height:10%;margin-left:0;margin-right:0;">
				<div class="col-md-10" style=" padding:0;">
				<input type="text" id="stud_msg" class="msg_input" style = "width:100%; height: 100%;background:none; padding:0;" placeholder="Type Message...">
				</div>
				<div class="col-md-2" style=" padding:0;">
					<input type="button" class="msg_send" value="Send" onclick="Send_Message()" style="float:right;">
				</div>
			</div>

		</div>
	</div>
<div class="bg"></div>
</body>
</html>