<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body onload="Reset_form();">
<script>
	function Reset_form(){
	document.getElementById("tempform").reset();
	}
</script>
<form method="POST" id="tempform" action="/frontend_to_backend/">
  {% csrf_token %}
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="button" id="add" value="Save and Add new">
  <input type="submit" value="Submit">
</form>
</body>
</html>
