<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'css/vol_dash.css' %}" rel="stylesheet"/>

</head>
<body>
	<div class = "container">
<!--		<div class="row">-->
<!--			<a href="/received_messages_by_vol/{{email}}"><input type="button" value="Received Messages"></a>-->
<!--		</div>-->
<!--		<div class="row">-->
<!--			<h1>Welcome {{ email }}! Connect with the students to start a chat. Keep Learning! </h1>-->
<!--		</div>-->
<!--		<div class = "row">-->

<!--			{% for match in match_list %}-->
<!--						<div class = "col-md-4" style=" padding:0;">-->
<!--							<h> Student {{ match.0 }}</h><br>-->
<!--							<h> Subject {{ match.1 }}</h><br>-->
<!--							<h> Day {{ match.2 }}</h><br>-->
<!--							<h> From {{ match.3 }} To {{ match.4}} </h><br>-->
<!--							<a href = "/vol_chat/{{match.0}}@{{match.1}}@{{match.2}}@{{match.3}}@{{match.4}}" ><input type="button" value="Connect Student"></a>-->


<!--						</div>-->
<!--			{% endfor %}-->


<!--		</div>-->
<!--	</div>-->


	<div class="admin-panel clearfix">
      <div class="slidebar">
        <div class="logo">
          <a href="/home/"></a>
        </div>
        <ul>
          <li><a href="#dashboard" id="targeted">dashboard</a></li>
          <li><a href="#msg">Messages</a></li>
          <li><a href="#connected">Connected</a></li>


        </ul>
      </div>
      <div class="main">

        <div class="mainContent clearfix">
          <div id="dashboard">


            <h2 class="header text-center"><span class="icon"></span>Welcome {{ email }}! Connect with the students to start a chat. <br>Keep Mentoring! </h2>


          </div>
           <div id="msg">
             <h2 class="header">See Received Messages ...</h2>
               <div class="row" style="margin-left: 25px;">
               <a href="/received_messages_by_vol/{{email}}"><input type="button" value="Received Messages"></a>
               </div>
           </div>
           <div id="connected" style="width: 521px">
             <h2 class="header">Connected To...</h2>
               <div class="container">
                    {% for match in match_list %}
						<div class = "col-md-4" style=" padding:0;">
							<div class="row"> <h4> Student: {{ match.0 }}</h4></div>
                            <div class="row"><h4> Subject: {{ match.1 }}</h4></div>
                            <div class="row"><h4> Day: {{ match.2 }}</h4></div>
                            <div class="row"><h4> From:  {{ match.3 }}  To: {{ match.4}}</h4></div>
                            <a href = "/vol_chat/{{match.0}}@{{match.1}}@{{match.2}}@{{match.3}}@{{match.4}}" ><input type="button" value="Connect Student"></a>
						</div>
			        {% endfor %}
                   </div>
           </div>


         </div>
     <ul class="statusbar">
       <li class="logout"><a href="/vlogout/" style="color:blue">Logout</a></li>
     </ul>
   </div>
</div>





</body>
</html>